appnope==0.1.0
backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
certifi==2015.11.20.1
crypto==1.4.1
cycler==0.9.0
decorator==4.0.6
Django==1.9.4
ecdsa==0.13
Fabric==1.10.2
functools32==3.2.3.post2
gnureadline==6.3.3
ipython==4.0.1
ipython-genutils==0.1.0
Jinja2==2.8
jsonschema==2.5.1
MarkupSafe==0.23
matplotlib==1.5.0
Naked==0.1.31
networkx==1.10
numpy==1.10.2
pandas==0.17.1
paramiko==1.16.0
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
Pillow==3.0.0
ptyprocess==0.5
pycrypto==2.6.1
pylab==0.1.3
pyparsing==2.0.6
python-dateutil==2.4.2
pytz==2015.7
PyYAML==3.11
pyzmq==15.1.0
requests==2.8.1
scikit-image==0.11.3
scikit-learn==0.17
scipy==0.16.1
seaborn==0.6.0
shellescape==3.4.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
sympy==0.7.6.1
tornado==4.3
traitlets==4.0.0
